    *{
      margin: 5px 5px;
      padding: 0px;
    }

    body{
      background-color: #DADADA;
    }

    .site{
      background-color: #FFFFFF;
      width: 200px;
      margin: 0px auto;
      padding: 50px;
    }

    .site .conteudo{
      background-color: brown;
      min-width: 90px;
      margin: 10px auto;
      padding: px auto;
      border: 2px solid;
      font-family: "Pacifico", sans-serif;
      text-align: center;
    }

  .site .topo{
    font-family: "Dancing Script", sans-serif;
    text-align: center;
    border-top: 5px solid #DADADA;
  }

  .site .rodape{
    font-family: "Indie Flower", sans-serif;
    text-align: center;
    border-bottom: 5px solid #DADADA;

  }

  .botao{
    font-size: 12pt;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #000000;
    color: #000000;
  }

  .botaoAzul {
    background-color: #0000FF;
  }

  .botaoAzul:hover {
    background-color: #F0F0F0;
    font-size: 20px;
  }

  .botaoVerde {
    background-color: #00FF00;
  }

  .botaoVerde:hover {
    background-color: #F0F0F0;
    font-size: 20px;
  }

  .botaoVermelho {
    background-color: #FF0000;
  }

  .botaoVermelho:hover {
    background-color: #F0F0F0;
    font-size: 20px;
  }

  .menu{
    background-color: #DADADA;
  }

  .menu ul{
    list-style-type: none;
  }

  .menu ul li{
    display: inline-block;
  }

  .menu a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
  }

    .menu a:hover {
      background-color: #ADADAD;
      font-size: 20px;
    }
